[flake8]
# required by black, https://github.com/psf/black/blob/master/.flake8
max-line-length = 88
exclude =
    .git,
    __pycache__,
    setup.py,
    build,
    dist,
    releases,
    .venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .vscode,
    .github,
    tests,
    webexteamssdk

